* {	
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: gray;
}

.top-color {
	background-color: rgb(226, 226, 226);
	padding-top: 10px;
}

.header-title {
	display: flex;
	flex-direction: column-reverse;
	color: rgb(0, 0, 0);
	padding-bottom: 50px;
}

.student-picture {
	width: 65%;
	margin: 0 auto;
	display: block;
}

.block-2 {
	padding-bottom: 30px;
	padding-top: 30px;
}

img {
	width: 99%;
}

.main-nav p {
	background-color: rgb(223, 223, 235);
	padding: 4%;
}

.contact-a {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: solid rgb(197, 201, 238);
	background-color: rgb(221, 221, 224);
	color: hotpink;
	margin: 0 auto;
}

footer {
	background-color: rgb(253, 253, 253);
	display: flex;
	flex-direction: row;
	width: 97%;
}

.back-to-top {
	display: flex;
	flex-direction: row;
	min-width: 115px;	
	padding-top: 15px;
	padding-right: 1px
}

.student-name {
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	width: 90%;
	padding-left: 1px;
	justify-content: space-between;
	padding-right: 1px;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;		
}


.hide-back-to-top {
	display: none;
}

@media (min-width: 768px) {
	.hide-back-to-top {
		display: auto;
	}

	.portfolio-item {
		flex: 0 48%;		
		margin-bottom: 5%;
	}

	.main-nav {
		display: flex;
		padding-right: 250px;
		padding-bottom: 50px;
		padding-left: 255px;
		margin: auto;
		justify-content: space-between;
	}

	.header-content {
		display: flex;
		flex-direction: row-reverse;
		padding-bottom: 40px;
	}

	.header-content p {
		width: 45%;
		margin-top: 5px;
		margin-left: 42px;
	}

	.header-content img {
		width: 45%;
	}

	footer {
		background-color: rgb(253, 253, 253);
		display: flex;
		flex-direction: row;
		width: 97%;
		padding-left: 30px;
		padding-bottom: 50px;
	}

	.hide-back-to-top {
		display: flex;
		flex-direction: row;
		padding-left: 20px;
		padding-right: 50px;
	}

	.student-name {
		background-color: rgb(255, 255, 255);
		display: flex;
		flex-direction: row;
		width: 95%;
		padding-left: 30px;
		justify-content: space-between;
	}

	.back-to-top {
		display: none;
	}
}

@media (min-width: 1024px) {
	.portfolio-item {
		flex: 0 32%;		
		margin-bottom: 2%;
	}

	.main-nav {
		display: flex;		
		width: 97%;		
		padding-right: 0;
	}

	.main-header,
	.student-a {
		display: flex;
		flex-direction: row;
		width: 95%;
		padding-left: 30px;
		padding-top: 4px;
		justify-content: space-between;
	}

	.header-content {
		display: flex;
		flex-direction: row-reverse;
		padding-bottom: 40px;
	}

	.header-content p {
		width: 45%;
		margin-top: 5px;
		margin-left: 42px;
	}

	.header-content img {
		width: 45%;
	}

	.back-to-top {
		display: none;
	}

	.contact-a {
		padding-top: 30px;
	}

	footer {
		background-color: rgb(253, 253, 253);
		display: flex;
		flex-direction: row;
		width: 97%;
		padding-left: 30px;
	}

	.hide-back-to-top {
		display: flex;
		flex-direction: row;
		padding-left: 20px;
		padding-right: 50px;
	}

	.student-name {
		background-color: rgb(255, 255, 255);
		display: flex;
		flex-direction: row;
		width: 95%;
		padding-left: 30px;
		justify-content: space-between;
	}
}
